<!-- Validation failure messages -->
<% if @accommodation_favorite.errors.any? %>
  <% @accommodation_favorite.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Accommodation Favorite</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_accommodation_favorite" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for accommodation_id -->
      <div class="form-group">
        <label for="accommodation_id" class="control-label">
          Accommodation
        </label>

        <%= select_tag(:accommodation_id, options_from_collection_for_select(Accommodation.all, :id, :name, @accommodation_favorite.accommodation_id), :class => "form-control") %>
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @accommodation_favorite.user_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Accommodation Favorite
      </button>
      or
      <a href="/accommodation_favorites">Cancel</a>
    </form>
  </div>
</div>
